<nav th:fragment="menu" class="navbar navbar-expand-lg navbar-dark barra-navegacion">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">DCine</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <div th:switch="${#httpServletRequest.requestURI}"> 
            <a class="nav-link active" th:href="@{/admin/peliculas/index}" th:case="'/admin/peliculas/index'">Peliculas</a>
            <a class="nav-link active" th:href="@{/admin/peliculas/index}" th:case="'/admin/peliculas/filtrar'">Peliculas</a>
            <a class="nav-link" th:href="@{/admin/peliculas/index}" th:case="*">Peliculas</a> 
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/admin/directores/index}" th:if="${#httpServletRequest.requestURI == '/admin/directores/index'}">Directores</a>
          <a class="nav-link" th:href="@{/admin/directores/index}" th:if="${#httpServletRequest.requestURI != '/admin/directores/index'}">Directores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pedidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Perfiles</a>
        </li>
      </ul>
    </div>
  </div>
</nav>